@import url("default.css");

#lateralBar{
    width: 20%;
    height: 100vh;
    margin: 0;
    border: none;
    background-color: rgba(45, 117, 63, 0.492);
    text-align: center;
}#lateralBar ul{
    bottom: 50%;
    position: absolute;
    padding: 2px;
    margin-top: 10px;
   
    font-size: 1.5em;
}#lateralBar ul li{
    color: rgb(21, 51, 3);
}

#contentTable{
    width: 80%;
    height: 100vh;
    background-color: beige;
    
    position: relative;
}
.register{
    width: 5%;
    height: 5%;
    background-color: rgb(127, 240, 104);
    right: 0;
    padding-bottom: 0;
}.register:hover{
    transition: 300ms;
    background-color: beige;
    cursor: pointer;
}
.topics{
    display: flex; /* Arrange items in a row */
  justify-content: space-between; /* Distribute items with equal space */
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
 /* Remove default margin */

}
.topics li{
margin: 10 0;

}
.container{
    width: 98%;
    height: 70%;
    margin: 2px;
    border:2px solid black;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;/* distance FROM the bottom == 0 */
    overflow-y: scroll;

}.container li{
    height: 2em;
    margin: 2px;
    border:1px solid black;
    border-radius: 20px;
    margin-bottom: 10px;

    padding: 10px;
}.container ul li:hover{
    cursor:pointer;
    border:2px solid green; 
    transition:50ms;

}
.container ul li button{
    height: 30px;
    width: 30px;
    display: inline;
    margin-right: 0px;
    margin-left: 40px;

}
.container ul li button:hover{
    cursor: pointer;
    background-color: greenyellow;
    transition: 150ms;
    offset: 150ms;

}
.exit{
    position:absolute;
    left: 1rem;
    top:1rem;
    height: 5%;
    width: 5%;
}



