@charset "UTF-8";

:root {
  --cor-fundo: #51735a;
  --cor-card-sombra: rgba(0, 0, 0, 0.1);
  --cor-menu: #a8d3b1;
  --cor-menu-sombra: rgba(0, 0, 0, 0.25);
  --cor-input: #51735a;
  --cor-botao: #51735a;
  --cor-botao-pressionado: #3a5945;
  --cor-textos: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
.check-in-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
}
   
.card {
  display: flex;
  background-color: #fff;
  border-radius: 34px;
  box-shadow: 0px 4px 20px var(--cor-card-sombra);
  max-width: 1550px;
  width: 100%;
  min-height: 650px; /*Alteração: 720px --> 650px*/
  overflow: hidden;
}
  
.card-left {
  background-color: var(--cor-menu);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 34px; 
  box-shadow: 15px 4px 46px var(--cor-menu-sombra); 
}
  
.card-left img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.footer-container {
  text-align: center;
  margin-bottom: 10px; 
}
  
.footer-text {
  font-size: 14px;
  color: var(--cor-textos);
}
  
.card-right {
  flex: 2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.title {
  font-size: 28px;
  color: var(--cor-textos);
  margin-bottom: 20px;
  text-align: center;
}
  
.input-container {
  width: 100%;
  max-width: 350px;
  margin-bottom: 15px;
  position: relative;
}
  
.input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--cor-input);
  outline: none;
  font-size: 16px;
  padding: 10px 0;
  color: var(--cor-textos);
}
  
.input::placeholder {
  color: #828282;
  opacity: 1; 
}
  
.input:focus::placeholder {
  opacity: 0; 
}
  
.input:focus {
  border-bottom: 2px solid #3a5945;
}
  
.admin-link {
  font-size: 14px;
  color: #51735a;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}
  
.admin-link:hover {
  color: #3a5945;
}
  
.button {
  background-color: var(--cor-botao);
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
  
.button:hover {
  background-color: var(--cor-botao-pressionado);
  transform: scale(1.05);
}
  
.button:active {
  transform: scale(0.95);
}
  